@steviebiddles:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}

link-workspace-packages = true
shared-workspace-lockfile = true
save-workspace-protocol = false
